.graph {
    display: inline-block;
    margin: 0 auto;
}

.bg-grey-1 {
	background-color: #111111;
}

.bg-grey-2 {
	background-color: #222222;
}

.bg-grey-3 {
	background-color: #333333;
}

.bg-grey-4 {
	background-color: #444444;
}

.bg-grey-5 {
	background-color: #555555;
}

.bg-grey-6 {
	background-color: #666666;
}

.bg-grey-7 {
	background-color: #777777;
}

.bg-grey-8 {
	background-color: #888888;
}

.bg-grey-9 {
	background-color: #999999;
}

.bg-grey-a {
	background-color: #aaaaaa;
}

.bg-grey-b {
	background-color: #bbbbbb;
}

.bg-grey-c {
	background-color: #cccccc;
}

.bg-grey-d {
	background-color: #dddddd;
}

.bg-grey-e {
	background-color: #eeeeee;
}

.bg-rarity-0 {
    background-color: #e2e2e2;
}

.bg-rarity-1 {
    background-color: #DCE437;
}

.bg-rarity-2 {
    background-color: #00B3FD;
}

.bg-rarity-3 {
    background-color: #B9BCD9;
}

.bg-rarity-4 {
    background-color: #ECD799;
}

.bg-rarity-5 {
    background-color: #EEBB38;
}

.btn-outline-ban-list {
  color: #343a40;
  border-color: #343a40;
}

.btn-outline-ban-list:hover {
  color: #343a40;
  background-color: #a40000;
  border-color: #343a40;
}

.btn-outline-ban-list:focus, .btn-outline-ban-list.focus {
  box-shadow: 0 0 0 0.2rem rgba(52, 58, 64, 0.5);
}

.btn-outline-ban-list.disabled, .btn-outline-ban-list:disabled {
  color: #343a40;
  background-color: transparent;
}

.btn-outline-ban-list:not(:disabled):not(.disabled):active, .btn-outline-ban-list:not(:disabled):not(.disabled).active,
.show > .btn-outline-ban-list.dropdown-toggle {
  color: #343a40;
  background-color: #a40000;
  border-color: #343a40;
}

.btn-outline-ban-list:not(:disabled):not(.disabled):active:focus, .btn-outline-ban-list:not(:disabled):not(.disabled).active:focus,
.show > .btn-outline-ban-list.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(52, 58, 64, 0.5);
}
